body {
    background-color: rgb(243, 227, 248);
    font: 20px Nunito Sans, Arial;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header {
    text-align: center;
}

#canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bf75be;
}