body {
  background-color: #b270d1;
  font: 20px Nunito Sans, Arial, Sans-Serif;
  font-weight: 200;
}

section {
  color: #ffffff;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(173, 46, 135, 0.5);
}

div {
  background: none;
}

div a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
}

div a:hover {
  border-bottom: 1px dashed #ffffff;
}

#loading {
  width: 900px;
  height: 530px;
  background-color: #8134ae;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2%;
}

#loading button {
  background-color: #ac72cd;
  border: 0px solid;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  font: 20px Nunito Sans, Arial, Sans-Serif;
  font-weight: 200;
}

#loading button:hover {
  background-color: #d5adec;
  border: 0px solid;
  letter-spacing: 5px;
}

#loading #start {
  display: block;
  position: relative;
  margin-top: 190px;
  margin-bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 70px;
}

#loading #directions {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 70px;
}

#game-canvas {
  display: none;
  position: absolute;
  background: url("../imgs/background.png");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2%;
}

img {
  display: none;
}